{% extends "base.html" %}
{% load static %}
{% block content %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!--Search engine section-->
<!--Search toggle for medioum and small screens-->
<div>
    <button id="toggleSearchButton" class="control-btn">Search</button>
    <div id="juke-search-category" class="juke-container hidden">
        <h2>Search</h2>
        <div>Search categories</div>
    </div>
</div>
<div id="juke-search" class="juke-container">
    <h2>Search</h2>
    <div>
        <!-- <input id="search-text" type="text" name="q" placeholder="Search for a song..." class="form-control" value="{{ query }}" />
        <a href="search/" id="search-bar" class="btn btn-primary">Search</a> -->
        <form method="GET" action="{% url 'search' %}">
            <input id="search-text" type="text" name="q" placeholder="Search for a song..." class="form-control"
                value="{{ query }}" />
            <button type="submit" id="search-bar" class="btn btn-primary">Search</button>

        </form>
        <div id="song-list">
            {% if songs %}
            {% for song in songs %}
            <div class="song-item">
                <p>{{ song.song_name }} by {{ song.artist_name }}</p>
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'add_to_local_list' song.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Add to Local List</button>
                </form>
                {% else %}
                <p>You must be logged in to add songs to your local list.</p>
                {% endif %}
            </div>
            {% endfor %}
            {% else %}
            <p>No songs found matching "{{ query }}".</p>
            {% endif %}
        </div>
    </div>
</div>

<div id="juke-main" class="juke-container">
    <h1>Loch Inn Juke Box</h1>
    <div class="media-box">
        <div class="media-player">
            <div>
                Media Player
            </div>
        </div>
        <div class="media-controls">
            <span>
                <button id="previousButton" class="control-btn"><i class="fas fa-step-backward"></i></button>
                <p>Previous</p>                
            </span>
            <span>
                <button id="nextButton" class="control-btn"><i class="fas fa-step-forward"></i></button>
                <p>Next</p>                
            </span>
        </div>
    </div>

    <h2>Coming Up Next...</h2>
    <div>
        {% for song in local_list %}
        • {{ song }}
        {% endfor %}
    </div>
</div>
<div id="juke-chat" class="juke-container">
    <h2>Live Chat</h2>
    <div>
        <input type="text" id="id_message_send_input" />
        {% if user.is_authenticated %}
        <button type="submit" id="id_message_send_button">Send Message</button>
        {% else %}
        <p>You must be logged in to send messages.</p>
        {% endif %}
        <div class="chat__item__container" id="id_chat_item_container">
        </div>
        <script>
           const chatSocket = new WebSocket(
                (window.location.protocol === "https:" ? "wss://" : "ws://") + window.location.host + "/"
            );
            chatSocket.onopen = function (e) {
                console.log("The connection was setup successfully !");
            };
            chatSocket.onclose = function (e) {
                console.log("Something unexpected happened !");
            };
            document.querySelector("#id_message_send_input").focus();
            document.querySelector("#id_message_send_input").onkeyup = function (e) {
                if (e.keyCode == 13) {
                    document.querySelector("#id_message_send_button").click();
                }
            };
            document.querySelector("#id_message_send_button").onclick = function (e) {
                var messageInput = document.querySelector(
                    "#id_message_send_input"
                ).value;
                chatSocket.send(JSON.stringify({ message: messageInput, username: "{{request.user.username}}" }));
            };
            chatSocket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                var div = document.createElement("div");
                div.innerHTML = data.username + " : " + data.message;
                document.querySelector("#id_message_send_input").value = "";
                document.querySelector("#id_chat_item_container").appendChild(div);
            };
        </script>
    </div>
</div>

{% endblock %}