{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loch Inn JukeBox</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<header>
    <div id="juke-header">
        <h1>Loch Inn Juke Box</h1>
        <nav>
            {% if user.is_authenticated %}
            <div><a href="{% url 'account_logout' %}">Logout</a></div>
            {% else %}
            <div><a href="{% url 'account_login' %}">Login</a></div>
            <div><a href="{% url 'account_signup' %}">Sign Up</a></div>
            {% endif %}
        </nav>
    </div>
</header>

<main>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</main>

    

</body>

</html>